<div class="image">
  <div id="dropzone" (hovered)='toggleHover($event)' (dropped)="getFile($event)" (click)='inputFile.click()'
    [ngClass]="{'hasImage':imageIsDropped}" #dropzone>
    <div class="
    dashes">
      <div class="dropzone-label">
        <h3>Click to browse or drag an image here</h3>
      </div>
      <input class="file-input" type="file" (change)="getFile($event.target.files)" #inputFile required
        style="display:none" accept="image/*">
    </div>
  </div>
  <div class="progress-bar" *ngIf="percentage | async as pct">
    <progress class="progress is-info" [value]="pct" max="100">
    </progress>
    <div class="progress-bar--number"> {{ pct | number }}%</div>
  </div>
  <div *ngIf="snapshot | async as snap">
    {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}
  </div>
</div>