.list-button {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 5px;
    background: #4285F4;
    color: #ffff;
    border-radius: 2px;
    margin-left: 22.5rem;
}

.table {
    margin: 1rem auto;
    width: 80%;
    height: 500px;
}