<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h1>Add Level</h1>
    </div>
    <div class="form-content">
      <form #addLevelForm="ngForm" (ngSubmit)="addLevel($event); addLevelForm.form.reset()">
        <div class="form-group">
          <label for="level">Level</label>
          <input type="text" id="level" name="level" [(ngModel)]="level.level" required />
        </div>
        <div class="
              form-group">
          <button [disabled]="addLevelForm.form.invalid">Add Level</button>
        </div>
      </form>
    </div>
    <app-level-list></app-level-list>
  </div>
</div>