@import "~src/assets/scss/vars";
@import "~src/assets/scss/mixins";


.item-info {
    z-index: 99999;
    font-family: $font-quattrocento;
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    // height: 110px;
    left: 3.5rem;
    top: 100%;
    background-color: #fc6460;
    border-radius: 1.5rem;
    @extend .corner-top;
    box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0.7);
    padding: 5px;
}


.item-info-close {
    position: absolute;
    left: 98%;
    color: #ffff;
}

.item-info-text {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 1px;
    word-wrap: break-word;
    font-weight: bold;
    color: #ffff;
    padding: 1rem;
}

.buttons {
    margin-top: 2rem;
}