@import "~src/assets/scss/vars";
@import "~src/assets/scss/mixins";

.block-collections-header {
  height: 20rem;
  margin-top: 2rem;
  @extend .corner;
  background-color: #333333;
  .block-inner {
    @extend .container;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .block-title {
      text-transform: uppercase;
      color: #fff;
      font-size: 4rem;
      font-weight: bold;
      line-height: 1em;
      font-family: $font-exo;
    }
  }
}

.block-collections-preview {
  background-color: #D5D4D6;
  padding: 7rem 0 5rem;
  margin-top: 2rem;
  .block-inner {
    @extend .container;
    display: flex;
  }
  .collections-navi {
    flex: 0 0 180px;
    margin-right: 5rem;
    padding-top: 6rem;
    .navi-title {
      margin-bottom: 2rem;
      color: #333333;
      text-transform: uppercase;
      font-size: 2rem;
      font-family: $font-axis;
    }
    .navi-list {
      ul {
        @extend .panel-list;
        li {
          + li {
            margin-top: 1.5rem;
          }
          a {
            text-align: center;
            display: block;
            padding: 1rem 3rem .6rem;
            font-size: 2.6rem;
            color: #ffffff;
            text-transform: uppercase;
            font-family: $font-axis;
            &.color-blue {
              background-color: $color-blue;
            }
            &.color-violet {
              background-color: $color-violet;
            }
            &.color-green {
              background-color: $color-green;
            }
            &.color-lemon {
              background-color: $color-lemon;
            }
            &.color-orange {
              background-color: $color-orange;
            }
            &.color-red {
              background-color: $color-red;
            }
            &.color-pink {
              background-color: $color-pink;
            }
            &.color-d_red {
              background-color: $color-d_red;
            }
          }
        }
      }
    }
  }
  .collections-preview {
    flex: 1;
    .preview-navi {
      margin-top: 5rem;
      ul {
        @extend .panel-list;
        display: flex;
        justify-content: center;
        li {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background-color: #4D4D4D;
          &.active {
            background-color: #fff;
          }
          + li {
            margin-left: 2rem;
          }
        }
      }
    }
    .preview-lg {
      height: 60rem;
      position: relative;
      .preview-inner {
        overflow: hidden;
        position: relative;
        height: 100%;
      }
      .preview-img {
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .preview-label {
        position: absolute;
        top: 0;
        right: 0;
        width: 8rem;
        height: 8rem;
        display: flex;
        justify-content: flex-end;
        padding: 2rem;
        &:before {
          content: '';
          position: absolute;
          top: -100%;
          right: -100%;
          width: 200%;
          height: 200%;
          background-color: $color-lemon;
          transform: rotate(45deg);
        }
        .label {
          position: relative;
          font-weight: bold;
          font-family: $font-axis;
          color: #ffffff;
          font-size: 4rem;
          text-transform: uppercase;
        }
      }
      .preview-type {
        position: absolute;
        left: 0;
        top: 3rem;
        background-color: #fff;
        padding: 1.5rem 3rem;
        text-transform: uppercase;
        font-size: 2.8rem;
        font-family: $font-quattrocento;
        border-bottom: .4rem solid transparent;

      }
      .preview-title {
        position: absolute;
        bottom: 4rem;
        right: 0;
        padding: 1.5rem 3rem;
        line-height: 1em;
        font-family: $font-axis;
        font-size: 3rem;
        background-color: rgba(#fff, .85);
        max-width: 50%;
        font-weight: bold;
      }
    }
  }
}

.block-collections-albums {
  padding: 4rem 0;
  .block-inner {
    @extend .container;
    .albums-list {
      display: flex;
      flex-wrap: wrap;
      margin-right: -3rem;
    }
    app-album-preview {
      flex: 0 0 20%;
      padding-right: 3rem;
      margin-bottom: 3rem;
    }
    .albums-more {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      .btn {
        padding-left: 7rem;
        padding-right: 7rem;
        .icon {
          margin-top: -2px;
        }
      }
    }
  }
}
