<div class="block block-collections-header">
  <div class="block-decorations"></div>
  <div class="block-inner">
    <div class="block-title">COLECCIONES DISPONIBLES</div>
  </div>
</div>
<div class="block-collections-preview">
  <div class="block-inner">
    <div class="collections-navi">
      <div class="navi-title">LISTA DE COLECCIONES</div>
      <div class="navi-list">
        <ul>
          <li><a class="color-blue">deporte</a></li>
          <li><a class="color-violet">arte</a></li>
          <li><a class="color-green">matemática</a></li>
          <li><a class="color-lemon">biología </a></li>
          <li><a class="color-orange">química</a></li>
          <li><a class="color-red">historia</a></li>
          <li><a class="color-pink">idiomas</a></li>
          <li><a class="color-d_red">GEOGRAFÍA</a></li>
        </ul>
      </div>
    </div>
    <div class="collections-preview">
      <div class="preview-lg">
        <div class="preview-inner">
          <div class="preview-img">
            <div *ngIf='!randomImage; else image'>
              <app-loader></app-loader>
            </div>
            <!-- <img src="https://source.unsplash.com/random/1000x500" alt=""> -->
            <ng-template #image>
              <img src="{{randomImage?.image.url}}" alt="">
            </ng-template>

          </div>
          <div class="preview-label"><span class="label">b</span></div>
        </div>
        <div class="preview-type">NUEVO ALBUM</div>
        <div class="preview-title">{{album?.name}}</div>
      </div>
      <div class="preview-navi">
        <ul>
          <li></li>
          <li class="active"></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="block-collections-albums">
  <div class="block-inner">
    <div class="albums-list">
      <!-- <app-album-preview *ngFor="let album of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]"></app-album-preview> -->
      <app-album-preview *ngFor="let album of albums" [album]='album'></app-album-preview>

    </div>
    <div class="albums-more">
      <a class="btn btn-round btn-gray"><span class="icon icon-plus"></span></a>
    </div>
  </div>
</div>