@import "~src/assets/scss/vars";
@import "~src/assets/scss/mixins";

.block-collections-header {
    height: 20rem;
    margin-top: 2rem;
    @extend .corner;
    background-color: #333333;

    .block-inner {
        @extend .container;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .block-title {
            text-transform: uppercase;
            color: #CCCCCC;
            font-size: 4rem;
            font-weight: bold;
            line-height: 1em;
            font-family: $font-exo;

            .collection {
                &.color-lemon {
                    color: $color-lemon;
                    font-weight: bold;
                }
            }

            strong {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

.content-album-overview {
    margin-top: 2rem;
    background-color: #D5D4D6;
    padding: 8rem 0;

    .block-inner {
        @extend .container;
        max-width: 1400px;
        display: flex;
        align-items: center;
    }

    .content-mapa {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .mapa {
            width: 25rem;
            height: 5rem;
            text-align: center;
            font-size: 2rem;
            line-height: 5.5rem;
            font-weight: bold;
            color: #fff;
        }
    }
}

.green {
    background-color: #22b573;
}

.gray {
    background-color: #909090;
}

.red {
    background-color: #fc6460;
}

.album-cards-overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

    .cards {
        border: 1px solid #b3b3b3;
        padding: 5px;
        margin: 1rem;
        background-color: #fff;
        border-radius: 5px;

        .card {
            width: 6.5rem;
            height: 10rem;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }

        .number {
            font-size: 3rem;
            text-align: center;
            line-height: 9rem;
            color: #fff;
            font-weight: bold;
        }

    }
}

.footer {
    margin-top: 3rem;
    width: 100%;
    background-color: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    height: 8rem;
}

.btn-new {
    width: 20rem;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 10rem;
}