@import "~src/assets/scss/vars";
@import "~src/assets/scss/mixins";

.block-random-albums {
  .block-inner {

  }
  .block-title {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 6.6rem;
    color: #fff;
    text-align: center;
    font-family: $font-axis;
    background-color: #fbb03b;
    margin-bottom: 2rem;
    @extend .corner;
  }
  .albums-list {
    background-color: #f2f2f2;
    padding: 4rem;
    .list-inner {
      @extend .container;
      display: flex;
      .album-item {
        flex: 1;
        max-width: 20%;
        position: relative;
        + .album-item {
          margin-left: 3rem;
        }
        .item-img {
          position: relative;
          margin-bottom: 2rem;
          padding-left: 2rem;
          height: 42rem;
          overflow: hidden;
          &.item-img-violet {
            background-color: #662D91;
            .item-label {
              &:after {
                background-color: #662D91;
              }
            }
          }
          &.item-img-green {
            background-color: #22B573;
            .item-label {
              &:after {
                background-color: #22B573;
              }
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
          .item-label {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            width: 9rem;
            height: 9rem;
            display: flex;
            justify-content: flex-end;
            padding-right: 2rem;
            text-transform: uppercase;
            padding-top: 2rem;
            &:after {
              content: '';
              position: absolute;
              top: -100%;
              right: -100%;
              width: 200%;
              height: 200%;
              transform: rotate(45deg);
              z-index: 0;
            }
            .item-label-inner {
              position: relative;
              z-index: 1;
              font-size: 4.1rem;
              color: #fff;
              font-weight: bold;
              font-family: $font-axis;
            }
          }
        }
        .item-content {
          padding-left: 2rem;
          .item-title {
            color: #4D4D4D;
            font-size: 2.7rem;
            font-family: $font-axis;
            line-height: 1em;
          }
          .item-category {
            font-family: $font-axis;
            font-size: 2.4rem;
            line-height: 1em;
            margin-top: 1rem;
            &.item-category-violet {
              color: #662D91;
            }
            &.item-category-green {
              color: #22B573;
            }
          }
          .item-info {
            color: #808080;
            font-size: 2.8rem;
            font-family: $font-quattrocento;
            display: flex;
            line-height: 1em;
            align-items: center;
            margin-top: 1rem;
            span {
              + span {
                &:before {
                  content: '';
                  display: inline-block;
                  vertical-align: top;
                  height: 2.5rem;
                  background-color: #808080;
                  width: 1px;
                  margin-left: 1rem;
                  margin-right: 1rem;
                }
              }
            }
          }
        }
        .item-link {
          @extend .overlay;
          z-index: 1;
        }
      }
    }
  }
  .albums-action {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    a {
      + a {
        margin-left: 11rem;
      }
    }
  }
}
