<div class="block-cardexchange-header">
  <div class="block-cardexchange-decorations"></div>
  <div class="block-inner">
    <div class="block-title">
      FELICITACIONES! TE HAN PROPUESTO UN CANJE<br>
      PARA LA COLECCIÓN <span class="collection color-lemon">BIOLOGÍA</span> > ALBUM <strong>CAMPO</strong>
    </div>
    <!-- <div class="block-title">
      COLECCIÓN <span class="collection color-lemon">{{albumSingle?.collection}}</span> > ALBUM <strong>{{albumSingle?.name}}</strong>
    </div> -->
  </div>
</div>
<div class="content-cardexchange">
  <div class="content-text">
    3/ Propon el intercambio del CROMO al jugador:
  </div>
  <div class='my-duplicate-cromos'>
    <p>Tus Cromos Repetidos</p>
    <app-carousel-chckbox></app-carousel-chckbox>
  </div>

  <div class='player-duplicate-cromos'>
    <p>Cromos repetidos de {{player}} </p>
    <app-carousel-chckbox></app-carousel-chckbox>
  </div>
  <div class="player">

  </div>
  <div class="content-buttons">
    <button class="btn btn-round btn-red">VUELVE ATRAS</button>
    <button class="btn btn-round btn-green">CONFIRMA SOLICITUD</button>
  </div>


</div>