<div class='container'>
  <div class='images'>
    <app-image-list [isImagesForAlbum]=false [album]='currAlbum' [delete]=false [addToAlbum]=true
      [imagesInput]='images$|async'></app-image-list>
  </div>

  <div class="albums">
    <div class="album-controls">
      <form #f="ngForm">
        <div class="controls">
          <div class='label'>
            <strong>{{currAlbum?.nrOfCards || 0}}/100</strong>
          </div>
          <div *ngIf="collections$|async as collections">
            <app-select labelKey="collection" idKey="collectionUid" [options]="collections"
              (selectChange)="getAlbumNames($event)"></app-select>
          </div>
          <div *ngIf="albums$|async as albums">
            <app-select labelKey="name" idKey="albumUid" [options]="albums" (selectChange)="getImagesForAlbum($event)">
            </app-select>
          </div>
        </div>
      </form>
    </div>
    <app-image-list [isImagesForAlbum]=true [delete]=true [addToAlbum]=false [imagesInput]='imagesForAlbum$|async'
      [album]='currAlbum'>
    </app-image-list>
  </div>

</div>