<div class="block block-collections-header">
  <div class="block-decorations"></div>
  <div class="block-inner">
    <div class="block-title">
      COLECCIÓN <span class="collection color-lemon">{{albumSingle?.collection}}</span> > ALBUM <strong>{{albumSingle?.name}}</strong>
    </div>
  </div>
</div>
<div class="block block-single-album">
  <div class="block-inner">
    <div class="block-left">
      <div class="block-left-cromos">
        <div class="cromos">
          <div class="cromos-title">TUS CROMOS</div>
          <div *ngIf="(cardsToAdd.length !== 0) ; else emptyImage">
            <div class="cromos-cards" *ngFor="let c of cardsToAdd; let i = index">
              <div class="cromos-center">
                <div class="single-card" appPileOfCards [translator]="i*0.5">
                    <img draggable src="{{c.image.url}}" [dragData]="c">
                    <div class="card-number">{{c.nrOfCard}}</div>
                </div>
              </div>
            </div>
            <div class="cromos-total">
              1/{{cardsToAdd?.length}}
            </div>
          </div>
        </div>
      </div>
      <div class="block-left-repetidos">
        <div class="cromos">
          <div class="cromos-title">TUS REPETIDOS</div>
          <div *ngIf="cardsDuplicated.length !== 0; else emptyImage">
            <div class='cromos-cards' *ngFor="let card of cardsDuplicated;let i = index">
              <div class="cromos-center">
                <div class="single-card" appPileOfCards [translator]="i*0.5">
                  <img src="{{card.image.url}}">
                  <div class="card-number">{{card.nrOfCard}}</div>
                </div>
              </div>
            </div>
            <div class="cromos-total">
              1/{{cardsDuplicated?.length}}
            </div>
          </div>
        </div>
      </div>
      <div class="album-navi">
        <div class="navi-links">
          <ul>
            <li><a class="btn btn-round btn-green" (click)="openGroupModal()">Apuntarse a Grupo</a></li>
            <li><a class="btn btn-round btn-blue" (click)="goToAlbumOverview()">Ver Resumen Cromos</a></li>
            <li><a class="btn btn-round btn-orange" (click)="openSubscriptionModal()">Apuntarse a Subscripción</a></li>
            <li *ngIf="!albumOpened"><a class="btn btn-round btn-red" (click)="goToExchange()">Intercambio de Cromos</a></li>
            <li *ngIf="!albumOpened"><a class="btn btn-round btn-l_blue" (click)="goToRanking()">RANKING</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="album-description" *ngIf="!albumOpened">
      <div class="album-greeting">BIENVENIDO A TU ALBUM</div>
      <div class="album-title">{{albumSingle?.name}}</div>
      <div class="album-collection color-lemon">> COLECCIÓN {{albumSingle?.collection}}</div>
      <div class="album-stats">Restan {{cardsAdded?.length}} días para completarlo.</div>
      <div class="album-stats">Te faltan {{albumSingle?.nrOfCards}}/{{albumSingle?.nrOfCards}} CROMOS</div>
      <div class="album-stats">
        <<<</div> <div class="album-help">
          <div class="album-help-line">
            <p>Para obtener nuevos cromos, puedes:</p>
          </div>
          <div class="album-help-line"><span class="icon icon-cursor"></span>
            <p><span class="underlined">Responder las Trivias</span> bajo cada espacio de CROMOS en el album</p>
          </div>
          <p>o</p>
          <div class="album-help-line"><span class="icon icon-cursor"></span>
            <p><span class="underlined">Canjear los repetidos</span>, haciendo click en cada uno, en la pila de TUS
              REPETIDOS.</p>
          </div>
      </div>
      <div class="album-start"><a class="btn btn-round btn-red">TEMARIO</a></div>
    </div>
    <div class="album-preview" *ngIf="!albumOpened">
      <a class="navi-right" (click)="next()"><span class="icon icon-arrow_r"></span></a>
      <div class="preview-content">
        <div class="preview-bg bg-lemon"></div>
        <div class="preview-img"><img src="{{rndImage?.url}}" alt=""></div>
        <div class="preview-label">
          <div class="label"></div>
        </div>
      </div>
      <div class="preview-cover">
        <img src="assets/img/album-preview-cover.svg" alt="">
      </div>
    </div>

    <div *ngIf="albumOpened">
      <app-open-album></app-open-album>
    </div>


  </div>

  <ng-template #emptyImage>
    <div class="cromos-cards">
      <div class="single-card empty">
        <div class="empty-image">
          <div class="card-number"></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>