@import '~src/assets/scss/vars';
@import '~src/assets/scss/mixins';

.block-collections-header {
  height: 20rem;
  margin-top: 2rem;
  @extend .corner;
  background-color: #333333;

  .block-inner {
    @extend .container;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .block-title {
      text-transform: uppercase;
      color: #cccccc;
      font-size: 4rem;
      font-weight: bold;
      line-height: 1em;
      font-family: $font-exo;

      .collection {
        &.color-lemon {
          color: $color-lemon;
          font-weight: bold;
        }
      }

      strong {
        color: #fff;
        font-weight: bold;
      }
    }
  }
}

.movable {
  z-index: 999;
}

.block-single-album {
  margin-top: 2rem;
  background-color: #d5d4d6;
  padding: 4rem 0;

  .block-inner {
    @extend .container;
    max-width: 1400px;
    display: flex;
    // align-items: center;
  }

  .album-navi {
    margin-right: 5rem;

    .navi-links {
      ul {
        @extend .panel-list;

        li {
          +li {
            margin-top: 1rem;
          }

          a {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  .album-description {
    flex: 1;
    margin-top: 5rem;

    .album-greeting {
      font-family: $font-axis;
      text-transform: uppercase;
      font-size: 2.3rem;
      margin-bottom: 1.5rem;
      color: #4d4d4d;
    }

    .album-title {
      font-family: $font-axis;
      font-size: 4rem;
      color: #4d4d4d;
    }

    .album-collection {
      font-family: $font-axis;
      font-size: 2.8rem;
      margin-bottom: 2rem;

      &.color-lemon {
        color: $color-lemon;
      }
    }

    .album-stats {
      font-family: $font-quattrocento;
      font-size: 3.4rem;

      +.album-stats {
        margin-top: 1rem;
      }
    }

    .album-help {
      margin-top: 3rem;
      font-size: 2.8rem;
      font-family: $font-quattrocento;
      color: #333333;
      line-height: 1.5em;

      .album-help-line {
        display: flex;

        +.album-help-line {
          margin-top: 2rem;
        }

        .icon {
          flex: 0 0 2.2rem;
          margin: 1rem 1rem 0 0;
        }
      }

      .underlined {
        border-bottom: 2px solid $color-lemon;
      }
    }

    .album-start {
      margin-top: 4rem;
    }
  }

  .album-preview {
    flex: 0 0 650px;
    height: 692px;
    position: relative;
    margin-top: 5rem;

    .preview-cover {
      @extend .overlay;
      z-index: 20;
    }

    .preview-content {
      position: relative;
      margin: 24px 33px 0 67px;
      height: 635px;

      .preview-bg {
        @extend .overlay;

        &.bg-lemon {
          background-color: $color-lemon;
        }
      }

      .preview-img {
        margin-left: 50px;
        height: 100%;
        position: relative;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .navi-right {
    z-index: 100;
    position: absolute;
    top: 45%;
    left: 95%;
  }

  .block-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .block-left-cromos {
    position: relative;
    width: 100%;
    height: 42rem;
    // margin-bottom: 3rem;
    overflow: hidden;
  }

  .block-left-repetidos {
    width: 100%;
    height: 42rem;
    position: relative;
    // margin-bottom: 3rem;
    display: block;
    overflow: hidden;
  }

  .cromos {
    position: relative;
    text-align: center;

    .cromos-cards {
      width: inherit;
      height: inherit;
      margin-top: 0.5rem;
    }

    .cromos-title {
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
    }

    .cromos-center {
      // position: relative;
      // left: 50%;
      // -webkit-transform: translateX(-50%);
      // transform: translateX(-50%);
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
    }

    .single-card {
      position: absolute;
      // top: 3.2rem;
      padding: 15px;
      border: 1px solid #b3b3b3;
      border-radius: 1rem;
      background-color: #fff;
    }

    .cromos-cards {
      text-align: center;

      img {
        width: 160px;
        height: 235px;
      }

      .card-number {
        width: 55px;
        height: 55px;
        font-size: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        line-height: 65px;
        position: absolute;
        bottom: 2rem;
      }
    }

    .cromos-total {
      position: absolute;
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      top: 39rem;
      left: 45%;
    }

    .empty-image {
      position: relative;
      display: block;
      margin: auto;
      width: 160px;
      height: 235px;
      background-color: gray;
      padding: 2rem;
    }

    .empty {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}