<div class="block hero-block">
  <div class="block-inner">
    <div class="block-img"><img src="assets/img/hero-img.png" alt=""></div>
    <div class="block-content">
      Album de Cromos es tu espacio virtual <br>
      de colecciones de cromos, podés intercambiar con <br>
      otros usuarios, sumar puntos respondiendo trivias <br>
      para completar tus albums. <br>
      ¡Se suman nuevos usuarios y cromos cada día!<br>
      <strong>DESCUBRE UN NUEVO MUNDO DE DIVERSIÓN Y CONOCIMIENTO</strong>
    </div>
  </div>
</div>
<div id="albums">
  <app-interactive-album [album]=null></app-interactive-album>
</div>
<app-random-albums></app-random-albums>
<div class="block block-features" id="features">
  <div class="block-inner">
    <div class="feature-title">FUNCIONAMIENTO</div>
    <div class="feature-item">
      <div class="item-img"><img src="assets/img/feature-1-img.png" alt=""></div>
      <div class="item-content">
        <div class="item-title">Cromos/Quiz</div>
        <div class="item-text">
          Gana 3 cromos cada día que <br>
          entres, aprende el contenido <br>
          y rellena tu Álbum. <br>
          Responde a 2 Trivias <br>
          y gana más cromos.
        </div>
      </div>
    </div>
    <div class="feature-item">
      <div class="item-img"><img src="assets/img/feature-2-img.png" alt=""></div>
      <div class="item-content">
        <div class="item-title">Grupos</div>
        <div class="item-text">
          Forma un Grupo con tu clase <br>
          o amigos e intercambia con ellos <br>
          los cromos repetidos. <br>
          Negocia en el chat. <br>
          Comprueba el Ranking.
        </div>
      </div>
    </div>
    <div class="feature-item">
      <div class="item-img"><img src="assets/img/feature-3-img.png" alt=""></div>
      <div class="item-content">
        <div class="item-title">Álbum</div>
        <div class="item-text">
          Listado con los cromos que tienes <br>
          y te faltan. Puedes hacer hasta <br>
          3 colecciones a la vez. <br>
          Terminan a los 3 meses.
        </div>
      </div>
    </div>
    <div class="feature-item">
      <div class="item-img"><img src="assets/img/feature-4-img.png" alt=""></div>
      <div class="item-content">
        <div class="item-title">Suscripción</div>
        <div class="item-text">
          En lugar de hacer la Colección, <br>
          puedes suscribirte y recibir cada día <br>
          3 cromos en tu mail, para aprender <br>
          cada día nuevas cosas
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contacts">
  <app-contact-form></app-contact-form>
</div>