<div class="block block-ranking-header">
  <div class="block-ranking-decorations"></div>
  <div class="block-inner">
    <div class="block-title">
      ESTE ES EL RANKING DE CROMOS
    </div>
    <!-- <div class="block-title">
          COLECCIÓN <span class="collection color-lemon">{{albumSingle?.collection}}</span> > ALBUM <strong>{{albumSingle?.name}}</strong>
        </div> -->
  </div>
</div>
<div class="block-ranking-sub-header">
  <div class="block-inner">
    <div class="block-title">
      COLECCIÓN <span class="collection color-lemon">BIOLOGIA</span> > ALBUM <strong>CAMPO</strong>
    </div>
  </div>
</div>

<div class="ranking-content">
  <div class="ranking-list">
    
  </div>
</div>