<div class="trivia-one-container">
    <div class="header">
        <img class="header-image-one" src="../../../assets/img/kid-girl.png">
        <img class="header-image-two" src="../../../assets/img/stars.png">
        <div class="header-text">GRACIAS POR APUNTARTE<br>
            A LA SUSCRIPCIÓN!
        </div>
    </div>
    <div class="content">
        <div class="content-text">
            Al aceptar esta suscripción, te enviaremos a tu casilla
            de mail, cada día, varios CROMOS para jugar.
            Este servicio es independiente del funcionamiento
            del resto del sitio.
        </div>
    </div>
    <div class="footer">
        <button class='btn btn-round btn-red' (click)="closeModal()"><b>CANCELAR</b></button>
        <button class='btn btn-round btn-green' (click)="subscribeToAlbum()"><b>ACEPTAR</b></button>
    </div>
</div>