<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h2>Add Cromos</h2>
    </div>
    <!-- <div class="form-content"> -->
    <form #addImageForm="ngForm" (ngSubmit)="addImage()">
      <div class=" formAll">
        <div class="formAll--one">
          <div class="form-group">
            <label class="labels" for="language">Language</label>
            <select name="language" id="language" [(ngModel)]="image.language">
              <option *ngFor="let language of languages$ | async" value={{language.language}}>
                {{language.language}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="labels" for="level">Level</label>
            <select name="level" id="level" [(ngModel)]="image.level">
              <option *ngFor="let l of levels$|async" value={{l.level}}>
                {{l.level}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="labels" for="collection">Collection</label>
            <select name="collection" id="collection" required [(ngModel)]="image.collection">
              <option *ngFor="let coll of collections$|async" value={{coll.collection}}>
                {{coll.collection}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="labels" for="imageTitle">Image Title</label>
            <input class='inputs' type="text" id="imageTitle" name="imageTitle" [(ngModel)]="image.title" required
              #imageTitle />
          </div>
          <div class="labels" class="form-group">
            <label class="labels" for="ImageDescription">Image Description</label>
            <textarea class='inputs' type="text" id="imageDesription" name="imageDescription"
              [(ngModel)]="image.description" required></textarea>
          </div>
          <div class="form-group">
            <button [disabled]="addImageForm.form.invalid || !imageIsDropped" type="submit">Add Image</button>
          </div>
        </div>
        <app-dropbox (imageDropped)='getImageUrl($event)' [albumIsAdded]='imageIsAdded'></app-dropbox>
      </div>
    </form>
  </div>
  <app-image-list [delete]='delete' [addToAlbum]='addToAlbum' [imagesInput]='imagesInput$|async'></app-image-list>
</div>