<div class="block block-albums-header">
  <div class="block-decorations"></div>
  <div class="block-inner">
    <div class="block-title">¡BIENVENIDO {{(user$|async)?.displayName}}!</div>
    <div class="block-content">
      Ya puedes disfrutar de tus cromos. Comienza eligiendo tu primer album, para el que te regalaremos 3 cromos. <br>
      Luego podrás sumar más cromos jugando Trivias y canjeando tus repetidas con otros usuarios. <br>
      Tienes 3 meses para completar tus Albums. Máximo 3 albums con 100 cromos cada uno.
    </div>
  </div>
</div>
<div class="block block-albums-shelf">
  <div class="shelf-info">
    <div class="shelf-info-title">Vamos!</div>
    <div class="shelf-info-content">
      Completá <br>
      tus estantes <br>
      sumando <br>
      albums y cromos.
    </div>
  </div>
  <div class="shelf-img">
    <img src="assets/img/albums-shelf-img.svg" alt="">
    <div class="shelf-albums">
      <div class="album-item album-item-orange">
        <div class="album-item-stat">
          <div class="stat-line">
            <div class="stat-title">Díasrestantes</div>
            <div class="stat-count">{{albums?.one.remain}}</div>
          </div>
          <div class="stat-line">
            <div class="stat-title">Cromos <br>que tienes</div>
            <div class="stat-count" *ngIf="questionTime()">03</div>
            <div class="stat-count" *ngIf="!questionTime()">00</div>
          </div>
        </div>
        <a class="album-item-link" (click)="openModal('trivia-first', albums?.one, 1)"></a>
      </div>
      <div class="album-item album-item-blue">
        <div class="album-item-stat">
          <div class="stat-line">
            <div class="stat-title">Díasrestantes</div>
            <div class="stat-count">{{albums?.two.remain}}</div>
          </div>
          <div class="stat-line">
            <div class="stat-title">Cromos <br>que tienes</div>
            <div class="stat-count" *ngIf="!questionTime()">03</div>
            <div class="stat-count" *ngIf="questionTime()">00</div>
          </div>
        </div>
        <a class="album-item-link" (click)="openModal('trivia-first', albums?.two, 2)"></a>
      </div>
      <div class="album-item album-item-green">
        <div class="album-item-icon"><span class="icon icon-info-alert"></span></div>
        <div class="album-item-stat">
          <div class="stat-line">
            <div class="stat-title">Díasrestantes</div>
            <div class="stat-count">{{albums?.three.remain}}</div>
          </div>
          <div class="stat-line">
            <div class="stat-title">Cromos <br>que tienes</div>
            <div class="stat-count" *ngIf="!questionTime()">03</div>
            <div class="stat-count" *ngIf="questionTime()">00</div>
          </div>
        </div>
        <a class="album-item-link" (click)="openModal('trivia-first', albums?.three, 3)"></a>
      </div>
    </div>
  </div>
  <div class="albums-shelf-navi">
    <a class="btn btn-round btn-red" (click)="openModalGroup('create_group')">CREAR GRUPO</a>
    <a class="btn btn-round btn-green" (click)="openModalGroup('my_groups')">VER MIS GRUPOS</a>
  </div>
</div>