// Font Family
$body-font: 'Roboto';

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$ultra: 800;

// Base Font
$base-font-family: $body-font,
sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: 1.6em;

// Colors
$black: #000000;
$dark-gray: rgba($black, 0.8);
$gray: rgba($black, 0.6);
$light-gray: rgba($black, 0.4);
$lighter-gray: rgba($black, 0.2);
$white: #ffffff;
$accent: #4285f4;

// Form Settings
$max-width: 600px;
$max-height: 400px;
$gutters: 24px;


body {
  background: linear-gradient(45deg,
    rgba(66, 183, 245, 0.8) 0%,
    rgba(66, 245, 189, 0.4) 100%);
  color: $gray;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba($black, 0.8);
  width: 100%;
  height: 100%;
}

.form {
  // z-index: 15;
  position: relative;
  background: $white;
  width: $max-width;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba($black, 0.1);
  box-sizing: border-box;
  margin: 10px auto 10px;
  overflow: hidden;

  // Toggle
  &-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: $white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform-origin: center;
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 4px;
      background: $accent;
      transform: translate(-50%, -50%);
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &.visible {
      transform: translate(0, -25%) scale(1);
      opacity: 1;
    }
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 10px;

    &:last-child {
      margin: 0;
    }

    .labels {
      flex: 1;
      margin: 0 0 10px;
      color: $gray;
      font-size: 12px;
      font-weight: $semibold;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    .inputs,
    select {
      outline: none;
      display: inline-block;
      background: rgba($black, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: $gray;
      font-family: inherit;
      font-size: 12px;
      font-weight: $semibold;
      line-height: inherit;
      transition: 0.3s ease;

      &:focus {
        color: $dark-gray;
      }
    }

    button {
      outline: none;
      background: $accent;
      width: 100%;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      color: $white;
      font-family: inherit;
      font-size: 12px;
      font-weight: $semibold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
    }

    // .form-remember {
    //   font-size: 12px;
    //   font-weight: $regular;
    //   letter-spacing: 0;
    //   text-transform: none;
    // }

    // .form-recovery {
    //   color: $accent;
    //   font-size: 12px;
    //   text-decoration: none;
    // }
  }

  // Panel
  &-panel {
    padding: 10px 60px;
    box-sizing: border-box;

    // Panel One
    &.one {
      &:before {
        @extend .overlay;
        content: '';
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
      }

      &.hidden {
        &:before {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  // Header
  &-header {
    margin: 0 0 20px;

    h1 {
      padding: 4px 0;
      color: $accent;
      font-size: 24px;
      font-weight: $bold;
      text-transform: uppercase;
    }
  }
}

.form-group.answers {
  margin: 0 0 5px;
}

.answer {
  margin: 10px 10px;
  display: block;
  width: 100%;
}

.inputs-answer {
  outline: none;
  display: inline-block;
  background: rgba($black, 0.1);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: $gray;
  font-family: inherit;
  font-size: 12px;
  font-weight: $semibold;
  line-height: inherit;
  transition: 0.3s ease;

  &:focus {
    color: $dark-gray;
  }
}

// svg check box

input#check0,
input#check1,
input#check2,
input#check3 {
  // position: absolute;
  opacity: 0;

  &:checked+label svg path {
    stroke-dashoffset: 0;
    color: green;
  }

  &:focus+label {
    transform: scale(1.03);
  }
}

.check0,
.check1,
.check2,
.check3 {
  display: inline-block;
  // border: 2px solid $gray;
  width: 5rem;
  height: 5rem;
  // border-radius: 14px;
  cursor: pointer;
  // transition: all 0.2s ease;
  vertical-align: middle;
  margin-left: 5px;

  .svg-icon-correct {
    fill: green;
  }

  .svg-icon-not-correct {
    fill: red;
  }

}

.selects-inline {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#dropzone {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  cursor: pointer;
  background: #f4f4f4;
  // display: table;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 5px 8px rgba(black, 0.35);

  .dashes {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: 4px dashed #ddd;
    opacity: 1;
    position: relative;
  }

  .dropzone-label {
    text-align: center;
    color: grey;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }


  &.dragging {
    background-image: none !important;

    .dashes {
      animation-duration: 10s;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      opacity: 1 !important;
    }

    .dropzone-label {
      opacity: 0.5 !important;
    }
  }

  &.hasImage {

    .dashes,
    .dropzone-label {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }

}

.progress-bar {
  font-size: 2rem;
  margin-top: 10px;
  font-weight: $bold;
  text-align: center;

  &--number {
    z-index: 5;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.images-answers {
  display: flex;
  align-items: center;
  justify-content: center;
}